MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://api-spenbqlbqq-uc.a.run.app/api/mpesa/callback

# Set MPESA_ENV=production to use these credentials.
MPESA_PROD_CONSUMER_KEY=
MPESA_PROD_CONSUMER_SECRET=
MPESA_PROD_SHORTCODE=
MPESA_PROD_PASSKEY=
MPESA_PROD_CALLBACK_URL=https://api-spenbqlbqq-uc.a.run.app/api/mpesa/callback
